/* 카테고리 컨테이너 및 스타일 */
.categories-container {
  font-family: "NotoSansKR";
  margin-top: 80px;
  padding: 60px;
  margin-bottom: 80px;
}

.categories-title {
  font-family: "BMHANNAProOTF";
  font-size: 40px;
  margin-bottom: 20px;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  width: 100%;
  height: 60%;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(226, 241, 240);
  margin: auto;
}

.category-item {
  flex-direction: column;
  align-items: center;
  border-radius: 55px;
  background-color: rgb(226, 241, 240); /* 기본 배경색 */
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* 배경색 애니메이션 추가 */
}

.category-item span {
  font-size: 15px;
  transition: transform 0.3s ease-in-out; /* 아이콘 확대 애니메이션 추가 */
}

p {
  font-size: 20px;
  text-align: center;
  
}

.category-item:hover img{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(113deg) brightness(210%) contrast(102%);
}

/* Hover 효과 - 배경색 전환 및 아이콘 확대 효과 */
.category-item:hover {
  transform: scale(1.05); /* 마우스를 올리면 크기 확대 */
  background-color:rgb(1, 202, 196, .5);
}

/* 아이콘이 확대되는 효과 */
.category-item:hover span {
  transform: scale(1.3); /* 마우스를 올리면 아이콘 확대 */
}

/* 애니메이션 스타일 */

/* 왼쪽에서 오른쪽으로 슬라이드 인 */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw); /* 화면 왼쪽 밖에서 시작 */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* 화면 안으로 들어옴 */
    opacity: 1;
  }
}

/* 오른쪽에서 왼쪽으로 슬라이드 인 */
@keyframes slideInRight {
  0% {
    transform: translateX(100vw); /* 화면 오른쪽 밖에서 시작 */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* 화면 안으로 들어옴 */
    opacity: 1;
  }
}

/* 왼쪽에서 오른쪽으로 슬라이드 아웃 */
@keyframes slideOutLeft {
  0% {
    transform: translateX(0); /* 화면 안에 있음 */
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw); /* 화면 밖으로 나감 */
    opacity: 0;
  }
}

/* 오른쪽에서 왼쪽으로 슬라이드 아웃 */
@keyframes slideOutRight {
  0% {
    transform: translateX(0); /* 화면 안에 있음 */
    opacity: 1;
  }
  100% {
    transform: translateX(100vw); /* 화면 밖으로 나감 */
    opacity: 0;
  }
}

/* 왼쪽에서 오른쪽으로 슬라이드 인 */
.slide-in-left {
  animation: slideInLeft 1s ease-in-out forwards;
}

/* 오른쪽에서 왼쪽으로 슬라이드 인 */
.slide-in-right {
  animation: slideInRight 1s ease-in-out forwards;
}

/* 왼쪽에서 오른쪽으로 슬라이드 아웃 */
.slide-out-left {
  animation: slideOutLeft 1s ease-in-out forwards;
}

/* 오른쪽에서 왼쪽으로 슬라이드 아웃 */
.slide-out-right {
  animation: slideOutRight 1s ease-in-out forwards;
}
