.categories-container {
    margin-top: 80px;  /* 헤더 공간 확보 */
    padding: 20px;
  }
  
  .categories-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .category-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 100px;
    height: 100px;
  }
  
  .category-item span {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .onOffStar{
    background: transparent; /* 배경 없음 */
    border: none; /* 테두리 없음 */
    color: #FFD700; /* 별 색상 (금색) */
    font-size: 24px; /* 아이콘 크기 조절 */
    cursor: pointer; /* 마우스 포인터 변경 */
} 
    .button.onOffStar:hover {
  color: #ff9900;
  transform: scale(1.2);
}