.first-text-container {
  font-family: "BMHANNAProOTF";
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at center, rgba(0,0,0,0.1), rgba(0,0,0,1));
  background-color: rgb(53, 152, 144); /* 배경 색상 */
  font-size: 88px;
  font-weight: bold;
  color: white;
  position: relative;
  overflow: hidden;
  transition: transform 1.5s ease; /* 확대 애니메이션 */
}

.first-text-container.zoom-out {
  transform: scale(3); /* 확대 애니메이션 */
  opacity: 0;
}

.first-text {
  display: inline-block;
  transition: transform 0.8s ease; /* 부드러운 이동 */
}

.shifted-up {
  transform: translateY(-30px); /* 위로 이동 */
}

.first-text span {
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
}

.first-second-text {
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  margin-top: 20px;
  transition: transform 0.5s ease;
}

.second-part {
  display: inline-block;
  transition: transform 0.8s ease; /* 부드러운 이동 */
}

.shifted-down {
  transform: translateY(30px); /* 아래로 이동 */
}

.fade-in-slide-up {
  animation: fadeInSlideUp 1s ease forwards;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
