header {
    background-color: #00c6ff;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  header h1 {
    margin-left: 10px;
    font-size: 14px;
  }
  
  header p {
    margin-right: 900px;
    font-size: 25px;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 50%;
    height: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
  }
  
  .modal button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .marker {
    height: 25px;
    padding-left: 5px;
  }
  