.mypage-container {
  padding: 20px;
  margin-top: 60px;
  text-align: left;
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  
}

.welcome-message {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
  color: #333; /* Darker text color */
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-button {
  background-color: #00c6ff; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mypage-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
}

h1 {
  font-size: 2em;
  color: #444; /* Slightly darker for the heading */
}


.delete-confirmation {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.delete-confirmation h2 {
  margin-bottom: 15px;
  color: #333;
}

.delete-confirmation label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.delete-confirmation input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-confirmation input:focus {
  border-color: #007bff;
  outline: none;
}

.delete-confirmation button {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745; /* 확인 버튼 색상 */
  color: white;
  transition: background-color 0.3s ease;
}

.delete-confirmation button:hover {
  background-color: #218838; /* 확인 버튼 호버 색상 */
}

.delete-confirmation button:last-child {
  background-color: #dc3545; /* 취소 버튼 색상 */
}

.delete-confirmation button:last-child:hover {
  background-color: #c82333; /* 취소 버튼 호버 색상 */
}