@font-face {
    font-family: "NotoSnasKR";
    src: url(../fonts/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
.list-container{
    display: inline-flex;
    flex-wrap: wrap; /* Allows the items to wrap to the next row */
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    background-color: #eeeeee;
    padding: 80px;
}

.place-container{
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 380px; /* Fixed width for each container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.place-title{
    font-family: "NotoSnasKR";
    font-size: 27px;
    font-weight: 700;
}

.place-distance{
    font-family: "NotoSnasKR";
    font-size: 12px;
    color: #888;
}

.place-element{
    width: 520px;
    height: 280px;
    background-color: white;
    border: 1px solid #cccccc;
    padding: 20px;
}

.place-phonenumber{
    font-family: "NotoSnasKR";
    font-size: 18px;
    font-weight: bold;
      
}
