body {
  font-family: 'CustomFont', sans-serif !important;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://www.baemin.com/_next/static/media/img-baemin-mobile.0b55bb26.png');
  background-position: center;
}

.signup-container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-logo h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00c6ff;
}

.signup-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background-color: #00c6ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 12px;
}

.email-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-front-input,
.email-domain-input {
  width: 45%;
  padding: 10px;
}

.email-domain-select {
  width: 100%;
  padding: 10px;
  margin-top: -15px;
  border-radius: 30px;
}
