.social-login-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .social-login-container button {
    /* padding: 10px; */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    cursor: pointer;
  }